:root {
  /* Colours */
  --color-bg: #000000; /* page background /*

  /* Header */
  --color-head-bg: #9b7653;

  /* Logotype */
  --color-logotype-bg: #5b8731;
  --color-text-logotype: #fff;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: #5b8731;
  /* Links */
  --color-link-bg: #78766e;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #841a1a;
  --color-headline-text-page: #ffffff;

  /* Tekst */
  --color-text: #ffffff;
  --color-text-inverted: #cdccc4;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #8a8585;
  --color-cta-card-bg: #d5d2d0;
  /* news-cards */
  --color-news-bg: #dbdad4;
  --color-news-bg-inverted: #585a5e;
  --color-cta-newscard-bg: #787473;
  --color-cta-newscard-bg-inverted: #7b7d83;

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #676161;
  --color-infobox-1-bg: #cfcec6;
  --color-infobox-2-bg: #969995;

  /* Minecraft colours  */
  /* Overworld */
  --color-dirt: #96632f;
  --color-grass: #669f18;
  --color-water: #387dfb;
  --color-stone: #c2b7b4;
  --color-sand: #fedfae;

  /* Nether */
  --color-nether-1: #950000;
  --color-nether-2: #840000;
  --color-nether-3: #6c0000;
  --color-nether-4: #520000;
  --color-nether-5: #370000;
}
