#webform {
  background-color: var(--color-stone);
}

#form-section,
#form-summary {
  background-color: var(--color-stone);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 1rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}
#webform input,
#webform select {
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-block: 10px;
}

#webform button {
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  background: black;
  color: white;
}
.error-message {
  display: none;
  color: darkred;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

#webform select:user-invalid {
  border-color: darkred;
}
#webform select:user-invalid + .error-message {
  display: block;
}

.checkbox-group:has(input:user-invalid) {
  border: 2px solid darkred;
  padding: 0.5rem;
}
.checkbox-group:has(input:user-invalid) .error-message {
  display: block;
}

fieldset {
  margin-bottom: 10px;
}
